<script src="https://www.gstatic.com/firebasejs/5.0.2/firebase.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.css">
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAvPxGAOGqGhOlMiLgRjmRx30qDcjSteQs",
    authDomain: "confit-22c50.firebaseapp.com",
    databaseURL: "https://confit-22c50.firebaseio.com",
    projectId: "confit-22c50",
    storageBucket: "confit-22c50.appspot.com",
    messagingSenderId: "1086171890374"
  };
  firebase.initializeApp(config);
</script>
<header>

    <nav class="navbar navbar-default">
        <div class="" >
          <div class="hidden-xs" style="display: flex;align-items: flex-end;justify-content: flex-end;">
            <button class="user" mat-button [matMenuTriggerFor]="menu_user"><i class="fas fa-user-tie"></i></button>
            <mat-menu #menu_user="matMenu">
              <button mat-menu-item><a routerLink="/signup">Sign Up</a></button>
              <button mat-menu-item><a routerLink="/signin">Sign In</a></button>
              <button mat-menu-item><a routerLink="/userProfile">ViewProfile</a></button>
            </mat-menu>
          </div>
          <div class="visible-xs" style="display: flex;align-items: flex-start;justify-content: flex-start;">
            <button class="user_mobile" mat-button [matMenuTriggerFor]="menu_user_mobile"><i class="fas fa-user-tie"></i></button>
            <mat-menu #menu_user_mobile="matMenu">
              <button mat-menu-item><a routerLink="/signup">Sign Up</a></button>
              <button mat-menu-item><a routerLink="/signin">Sign In</a></button>
              <button mat-menu-item><a routerLink="/userProfile">ViewProfile</a></button>
            </mat-menu>
          </div>
          <div class="visible-xs" style="display: flex;align-items: flex-end;justify-content: flex-end;">
            <button class="hamburger" mat-button [matMenuTriggerFor]="menu_hamburger"><i class="fas fa-bars"></i></button>
            <mat-menu #menu_hamburger="matMenu">
              <button mat-menu-item><a routerLink="/visitorlanding">Recent conferences</a></button>
              <button mat-menu-item><a routerLink="/registerToConf">Register to conf</a></button>
              <button mat-menu-item><a [routerLink]="'/ScanQRCode'">Scan Qrcode</a></button>
              <button mat-menu-item><a [routerLink]="'/MyConference'">My conferences</a></button>
              <button mat-menu-item><a routerLink="/matchingPage">Find People</a></button>
            </mat-menu>
          </div>
            <!--<ul class="nav navbar-nav" >

                <li><a routerLink="/signup">Sign Up</a></li>
                <li><a routerLink="/signin">Sign In</a></li>
                <li><a routerLink="/userProfile">ViewProfile</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right" *ngIf="isAuth()">

                <li><a (click)="onLogout()" style="cursor: pointer;">Logout</a></li>
            </ul>-->
        </div>
        <!-- /.container-fluid -->

    </nav>

</header>



<!--
<nav class="navbar navbar-default">
    <div class="navbar-default">
      <ul class="nav navbar-nav navbar-right" >
        <li class="dropdown" appDropdown>
          <a  class="dropdown-toggle" role="button">hey user
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav> -->
