<script src="https://www.gstatic.com/firebasejs/5.0.2/firebase.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.css">
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAvPxGAOGqGhOlMiLgRjmRx30qDcjSteQs",
    authDomain: "confit-22c50.firebaseapp.com",
    databaseURL: "https://confit-22c50.firebaseio.com",
    projectId: "confit-22c50",
    storageBucket: "confit-22c50.appspot.com",
    messagingSenderId: "1086171890374"
  };
  firebase.initializeApp(config);
</script>
<header>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!--<div style="display:flex;flex-direction:row;align-items:center;justify-content:flex-end;margin-top:20px;">
            <i (click)="dropdown()" style="font-size:45px;color:#fdb813;background-color:none!important;" class="fas fa-bars"></i>
          </div>-->

            <ul class="nav navbar-nav" >

                <li><a routerLink="/signup">Sign Up</a></li>
                <li><a routerLink="/signin">Sign In</a></li>
                <li><a routerLink="/userProfile">ViewProfile</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right" *ngIf="isAuth()">

                <li><a (click)="onLogout()" style="cursor: pointer;">Logout</a></li>
            </ul>
        </div>
        <!-- /.container-fluid -->

    </nav>

</header>



<!--
<nav class="navbar navbar-default">
    <div class="navbar-default">
      <ul class="nav navbar-nav navbar-right" >
        <li class="dropdown" appDropdown>
          <a  class="dropdown-toggle" role="button">hey user
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav> -->
