.navbar{
  color: black;
  background-image: url("../../assets/header.png");
  background-size: cover;
  background-position-y: center;
  height: 150px;
  margin-bottom:0px !important;
  border:none;
}

.navbar-default .navbar-nav>li>a{
   color:black;
 }
.navbar-default .navbar-nav>li>a:hover{
  color:#fdb813;
}

a.dropdown-toggle {
  color:black;
}
ul .dropdown-menu {
  margin-right: 20px;
}

.user{
  margin-top:15px!important;
}

 .fa-user-tie{
      font-size: 50px;
      color:#fec63d;
}

.hamburger{
  font-size: 50px;
  color:#fec63d;
      float: right;
}
.user_mobile  .fa-user-tie{
  margin-left: -30px;
  font-size:25px;
  color:#fec63d;
}
