.mathing-people{
  border: 1px solid rgba(255, 255, 255, 0.03);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
  margin: 4px;
}

.matching-title{
  align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 8px 20px;
    flex-direction: column;
}

.matching-content{
  padding: 30px;
}
