<app-nav-visitor></app-nav-visitor>
<mat-accordion>
  <mat-expansion-panel  *ngFor="let visitor of this.visitors" (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false" >
    <mat-expansion-panel-header *ngIf="visitor._id !=visitor_id">
      <mat-panel-title>
        <img src="http://www.colegiodepadua.com.br/img/user.png" alt="user face" height="30" width="30">
          {{visitor.visitorfirstname}} {{visitor.visitorlastname}}
      </mat-panel-title>

    </mat-expansion-panel-header>
    Matching percent:
    <span>{{visitor.matching}}%</span>
  </mat-expansion-panel>
</mat-accordion>
