<div class="login-container">
  <mat-card>
    <mat-card-title>Conf Details</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="createConference(f)" #f="ngForm">
        <p>
          <mat-form-field>
            <input matInput ngModel="" name="name" placeholder="Conf Name">
          </mat-form-field>
          <mat-form-field>
            <input matInput ngModel="" name="logo" placeholder="Conf Logo">
          </mat-form-field>
          <mat-form-field>
            <mat-select [(ngModel)]="confType" name="type" placeholder="Conf Type">
              <mat-option *ngFor="let type of types" [value]="type.value">
                {{type.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input matInput ngModel="" [matDatepicker]="picker" placeholder="Start Date" name="start_date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <input matInput ngModel="" type="number" name="duration" placeholder="Conf Duration">
          </mat-form-field>
          <mat-form-field>
            <input matInput ngModel="" name="location" placeholder="Conf Address">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <mat-select [(ngModel)]="confAudience" name="audience" placeholder="Conf Audience">
              <mat-option *ngFor="let audience of audiences" [value]="audience.value">
                {{audience.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input matInput ngModel="" name="topic1" placeholder="Main Topic1">
          </mat-form-field>
          <mat-form-field>
            <input matInput ngModel="" name="topic2" placeholder="Main Topic2">
          </mat-form-field>
          <mat-form-field>
            <input matInput ngModel="" name="topic3" placeholder="Main Topic3">
          </mat-form-field>
        </p>
        <p class="submitButtons">
          <button type="submit" color="primary" mat-raised-button >CREATE</button>
        </p>
      </form>
    </mat-card-content>
  </mat-card>
</div>
