:host {
  display: flex;
  justify-content: center;
  margin: 22px 0;
}
.submitButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
.container{
  width: 67em;
}
