/*//////////////////////////////////////////////////////////////////
[ Table ]*/
table {
  width: 100%;
  background-color: #fff;
}

th, td {
  font-weight: bold;
  padding-right: 10px;
  color: #01426C;
}

.column100 {
  width: 383px;
  padding-left: 25px;
}

.column100.column1 {
  width: 35px;
  padding-left: 2px;
}
h5{
  font-size: 17px;
}
.row100.head th {
  padding-top: 24px;
  padding-bottom: 20px;
}

.row100 td {
  padding-top: 18px;
}
.table100.ver1 td {
  font-size: 20px;
  color: #808080;
  line-height: 1.4;
}

.table100.ver1 th {
  font-size: 16px;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;

  background-color: #01426C;
}

.table100.ver1 .row100:hover {
  background-color: #f2f2f2;
}

.table100.ver1 .hov-column-ver1 {
  background-color: #f2f2f2;
}

.table100.ver1 .hov-column-head-ver1 {
  background-color: #484848 !important;
}

.table100.ver1 .row100 td:hover {
  background-color: #f2f2f2;
  color: #fff;
}

.table100.ver1 .row100 td:hover {
  background-color: #02729A;
  color: #fff;
}


