<div class="row">
  <div class="col-md-5" *ngFor="let day of data; let i = index">
    <h3>Day {{i + 1}}</h3>
    <table class="table">
      <tr *ngFor="let sess of day; let j = index">
        <td>
          {{sess.name}} {{sess.time}}:00
        </td>
        <td>
          <div class="row">
            <div class="col-md-3" *ngFor="let top of sess.lectures">
              <h4>{{top.topic}}</h4>
              <table class="table">
                <tr *ngFor="let lct of top;">
                  <td>
                    <h5>{{lct.name}} [{{lct.ratings}}]</h5>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
