<mat-card *ngIf="!inConf">
  <app-alerts></app-alerts>
  <mat-card-title>
    This lecture is not in your Path!
  </mat-card-title>
  <mat-card-subtitle>
    Would you like us to build a new Path?
  </mat-card-subtitle>
  <mat-card-actions>
    <button mat-raised-button (click)="buildPath()">YES</button>
  </mat-card-actions>
</mat-card>
<mat-card *ngIf="lecture">
  <mat-card-title>
    {{lecture.name}}
  </mat-card-title>
  <mat-card-subtitle>
    Lecture By: {{lecture.lecturer_name}}
  </mat-card-subtitle>
  <mat-card-subtitle>
    Topic: {{lecture.topic}}
  </mat-card-subtitle>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Lecture Description:
          </mat-panel-title>
        </mat-expansion-panel-header>
        {{lecture.description}}
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="openDialogRate()">RATE US</button>
  </mat-card-actions>
</mat-card>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
</div>
