<nav class="navbar navbar-expand-lg navbar-light bg-light hidden-xs">
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">Confit</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a routerLink="/visitorlanding" class="nav-link">Recent Conferences</a>
      </li>
      <li class="nav-item">
        <a routerLink="/registerToConf" class="nav-link">Register To Conf</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/ScanQRCode'">Scan QR Code </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/MyConference'">My Conference</a>
      </li>
      <li class="nav-item">
        <a routerLink="/matchingPage" class="nav-link">Find People</a>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form> -->
  </div>
</nav>
