<div class="login-container">
  <mat-card>
    <mat-card-title>Conf Details</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="register(f)" #f="ngForm">
        <p>
          <mat-form-field>
            <mat-select [(ngModel)]="selectedConf" name="conf" placeholder="Select Conference">
              <mat-option *ngFor="let conf of confs" [value]="conf">
                {{conf.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <p class="submitButtons">
          <button type="submit" color="primary" mat-raised-button matStepperNext>Register</button>
        </p>
      </form>
    </mat-card-content>
  </mat-card>
</div>
