.content{
  display:flex;flex-direction:column;align-self:center;align-items:center;
}

.percent_data{
  display:flex;flex-direction:column;align-self:center;align-items:center;

}

.centerDiv{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.linkedin{
  font-size: 40px;
}
