<header>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.css">
</header>
<div class="content">
  <div >
    <h1>Meet {{this.visitorSon.name.first_name}} {{this.visitorSon.name.last_name}}</h1>
  </div>
  <div>
    <img src="http://user-profile-storage.s3.amazonaws.com/{{this.visitorSon.profilePic}}" alt="user face" height="80" width="80">
  </div>
  <div class="percent_data">
    <h4>Percent matching with : {{this.visitorSon.name.first_name}}</h4>
    <h4>Percent : {{this.percent  | number}}%</h4>
  </div>
</div>
