<header>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.css">
</header>

<!--<h1>Meet {{this.visitorSon.name.first_name}} {{this.visitorSon.name.last_name}}</h1>
<h4>{{this.visitorSon.name.first_name}} {{this.visitorSon.name.last_name}} signed up
to these conferences:</h4>
<div *ngFor="let conf of this.visitorSon.confs">
  <span><b>conf name :</b> </span>{{conf.confname}}<br>
  <span><b>profile pie on {{conf.confname}} conference :</b></span>{{conf.profile_pie}}
</div>
<h4>Percent matching with : {{this.visitorSon.name.first_name}}</h4>
<h4>Percent : {{this.percent  | number}}%<h4>-->

<div class="content">
  <div >
    <h1>Meet {{this.visitorSon.name.first_name}} {{this.visitorSon.name.last_name}}</h1>
  </div>
  <div>
    <img src="http://www.colegiodepadua.com.br/img/user.png" alt="user face" height="80" width="80">
  </div>
  <div class="percent_data">
    <h4>Percent matching with : {{this.visitorSon.name.first_name}}</h4>
    <h4>Percent : {{this.percent  | number}}%</h4>
  </div>
</div>
