<app-nav-manager></app-nav-manager>

<mat-horizontal-stepper #stepper="matHorizontalStepper">
  <mat-step>
      <ng-template matStepLabel>Details</ng-template>
      <app-new-conf-details #stepper></app-new-conf-details>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Sessions</ng-template>
    <app-new-conf-sessions></app-new-conf-sessions>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Lectures</ng-template>
    <app-new-conf-lectures></app-new-conf-lectures>
  </mat-step>
</mat-horizontal-stepper>

<!--<mat-sidenav-container class="example-container">-->
  <!--<mat-sidenav #sidenav mode="side" opened="true" class="example-sidenav">-->
    <!--<div>-->
      <!--<p>-->
        <!--<a mat-raised-button [routerLink]="['details']">Details</a>-->
      <!--</p>-->
      <!--<p>-->
        <!--<a mat-raised-button [routerLink]="['sessions']">Sessions</a>-->
      <!--</p>-->
      <!--<p>-->
        <!--<a mat-raised-button [routerLink]="['lectures']">Lectures</a>-->
      <!--</p>-->
    <!--</div>-->
  <!--</mat-sidenav>-->
<!--<router-outlet></router-outlet>-->

