<header>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</header>
<app-nav-visitor></app-nav-visitor>
<h4 [hidden]="!wrongConf">you did not sign to this conf</h4>
<div style="display:flex;flex-direction:column;align-self:center;align-items:center;">
  <div class="class_img">
    <img class="img_profile" src="http://user-profile-storage.s3.amazonaws.com/{{visitor.profilePic}}" alt="user face" height="150" width="150">
    <div class="edit_pic">
      <i class="fas fa-pencil-alt"></i>
      <input type="file" name="file" (change)="fileChange($event)">
    </div>
  </div>
  <div>
    <h2>{{this.visitor.name.first_name}} {{this.visitor.name.last_name}}</h2>
  </div>
  <div style="display:flex;flex-direction:column;align-self:center;align-items:center;">
    <span> Your QrCode : </span>
     <img src="http://qr-code-storage.s3.amazonaws.com/{{visitor.qr_code}}">
  </div>
  <div>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <select name="type" ngModel>
          <option value = "conference">conference</option>
          <option value = "lecture">lecture</option>
          <option value = "visitor">visitor</option>
      </select>
      <input name="id" ngModel>
        <button>Submit</button>
      </form>
  </div>
</div>
<app-pie-chart-data *ngIf="visitorId!=null" [visitorId]="visitorId"></app-pie-chart-data>
<hr>

<app-my-conf-path *ngIf="qrcode.type==='conference'"></app-my-conf-path>

<app-my-conf-lecture *ngIf="qrcode.type==='lecture'"></app-my-conf-lecture>
<app-my-conf-visitor [visitorSonId]="visitorSonId"  [visitorChild]="visitor" *ngIf="qrcode.type==='visitor'"></app-my-conf-visitor>


<router-outlet></router-outlet>
