<!--<header>-->
  <!--<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.css">-->
  <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">-->
<!--</header>-->
<app-nav-visitor></app-nav-visitor>
<div class="container">
  <mat-card>

    <div class="center_element">
      <div class="center_element cover">
        <h1 class="conf_name">{{this.confName}}</h1>
        <img class="img_profile" src="http://user-profile-storage.s3.amazonaws.com/{{this.visitor.profilePic}}" alt="user face" height="90" width="90">
      </div>
      <div style="margin-top:20px;">
        <h2>{{this.visitor.name.first_name}} {{this.visitor.name.last_name}} </h2>
        <i class="fas fa-graduation-cap"></i> Education : {{this.visitor.education}}
      </div>
      <div class="button_confPage">
        <hr style="width:100%;margin: 10px;">
        <div class="addFriends">
          <i (click)="gotoFindFriends()" class="fas fa-user-plus"></i>
          <i (click)="scanQr()" class="fas fa-qrcode"></i>
          <i class={{icon}} (click)="changeIcon()"></i>
          <!-- <md-icon (click)="changeIcon()">{{icon}}</md-icon> -->
          <i (click)="logout()" class="fas fa-sign-out-alt"></i>
        </div>
        <hr style="width:100%;margin: 10px;">
      </div>

      <!--<input id="cin" name="cin" type="file" (change)="fileChangeEvent($event)" placeholder="Upload a file..." multiple/>
      <button class="uploadfile" type="submit" color="primary" mat-raised-button (click)="upload()">  <i class="glyphicon glyphicon-open-file"></i>Upload</button>-->

    </div>
    <div class="center_element component-2">
      <ul class="nav menufavth-basic">
        <li class="item-101 default">
          <span (click)="updateState(1)" [ngClass]="{'active':currentState == 1}" id="learn"><i class="fab fa-leanpub"></i>Learn</span>
        </li>
        <li class="item-101 default">
          <span (click)="updateState(2)" [ngClass]="{'active':currentState == 2}" id="connect"><i class="fas fa-plug"></i>Connect</span>
        </li>
        <li class="item-101 default">
          <span (click)="updateState(3)" [ngClass]="{'active':currentState == 3}" id="explore"><i class="fab fa-wpexplorer"></i>Explore</span>
        </li>
      </ul>
      <app-pie-chart-data></app-pie-chart-data>
      <mat-form-field>
        <mat-select placeholder="Path/Lecture/Visitor">
          <mat-option>-- None --</mat-option>
          <mat-optgroup *ngFor="let group of confList" [label]="group.name">
            <mat-option *ngFor="let item of group.item" [value]="item.value" (click)="changeUrl(item)">
              {{ item.viewValue }}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
      <mat-accordion class="accordion">
        <mat-expansion-panel class="center_element" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header class="headerAccordion">
            <mat-panel-title class="titleA">
              <i class="icon far fa-calendar-alt"></i>Show My Path
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-my-conf-path></app-my-conf-path>
        </mat-expansion-panel>
        <mat-expansion-panel class="center_element" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header class="headerAccordion">
            <mat-panel-title class="titleA">
              <i class="icon fas fa-qrcode"></i>Show My QrCode
            </mat-panel-title>
          </mat-expansion-panel-header>
          <img src="http://qr-code-storage.s3.amazonaws.com/{{visitor.qr_code}}">
        </mat-expansion-panel>
        <mat-expansion-panel class="center_element" (opened)="matchingOpenState = true" (closed)="matchingOpenState = false">
          <mat-expansion-panel-header class="headerAccordion">
            <mat-panel-title class="titleA">
              <i class="icon fas fa-users"></i>People you my interest
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngFor="let visitor of this.visitors">
            <div *ngIf="visitor._id !=visitorId" class="mathing-people">
              <div class="data_matching">
                <div><img class="imgMatching" src="http://user-profile-storage.s3.amazonaws.com/{{this.visitor.profilePic}}" alt="user face" height="50" width="50"></div>
                <div>{{visitor.visitorfirstname}} {{visitor.visitorlastname}}</div>
                <span [ngStyle]="{'font-weight':visitor.matching > '80' ? 'bold' : 'normal' }">&nbsp;{{visitor.matching}}% Match </span>
                <a class="linkedin" target="_blank" href="{{visitor.linkedin}}"><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
            <hr style="width:100%;">
          </div>
        </mat-expansion-panel>

      </mat-accordion>

      <!--<span> Your QrCode : </span>
      <img src="http://qr-code-storage.s3.amazonaws.com/{{visitor.qr_code}}">-->
    </div>
  </mat-card>
  <hr>

  <app-my-conf-path *ngIf="qrcode.type==='conference'"></app-my-conf-path>

  <!--<app-my-conf-lecture *ngIf="qrcode.type==='lecture'"></app-my-conf-lecture>-->
  <!--<app-my-conf-visitor [visitorSonId]="visitorSonId" [visitorChild]="visitor" *ngIf="qrcode.type==='visitor'"></app-my-conf-visitor>-->


  <router-outlet></router-outlet>
</div>
