<app-nav-visitor></app-nav-visitor>
<mat-horizontal-stepper #stepper="matHorizontalStepper">
  <mat-step>
      <ng-template matStepLabel>Select Conference</ng-template>
      <app-register-conf-details (onStatusChange)="childStatusChanged($event)"></app-register-conf-details>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Select Topics</ng-template>
    <app-register-conf-topics *ngIf="isCreated"></app-register-conf-topics>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Select Lectures</ng-template>
    <app-register-conf-lectures *ngIf="isCreated" ></app-register-conf-lectures>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Select Match percentages</ng-template>
    <app-register-conf-matching *ngIf="isCreated" ></app-register-conf-matching>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Landing Page</ng-template>
    <h2>You have successfully registered for the conference!</h2>
    <a mat-raised-button color="primary" target="_blank" routerLink="/landingPage">landing-page</a>
  </mat-step>
</mat-horizontal-stepper>
